body {
  background-color: #c1cee5da;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: justify;
  line-height: 1.6;
}

img {
  width: 100px;
  height: auto;
}

p {
  line-height: 2;
  font-size: 15px;
}

h1 {
  text-align: center;
  color: #00509E !important; 
  font-size: 28px;
}

.highlight {
  font-weight: bold;
  color: rgb(85, 105, 159);
}

.italic {
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #00509E;
  color: white;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}

dl {
  margin-top: 10px;
}

dt {
  font-weight: bold;
  color: #00509E;
}

dd {
  margin-left: 20px;
}

.review { 
  border: 1px solid darkgreen; 
  padding: 15px; 
  margin: 10px; 
  border-radius: 10px; 
  background-color: #c0d1ee; 
}

.product {
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  background-color: #ffffff;
  text-align: center;
}

.product img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.product h2 {
  color: #4682b4;
}

#highlighted-text {
  background-color: #ccc092;
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

h2 I{
  background-color: #8bc3f1;
  color: #333;
  font-size: x-large;
  font-style: normal;
}

I + B{
  color: #ff4500;
}


a  {
  color: #3a743f
  }
  
  a:hover {
  color: #d3c485
  }
  
  .links a:link,
  .links a:visited {
  color: #3c5424
  }
  
  .links a:hover {
  color: #4aa197
  }
  
  .links a:active {
  color: #4a71e5
  }

  .bottom-row {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #fbb6ff;
    padding: 10 px 0;
    }
    
 .bottom-row span {
    margin: 0 10px;
    }

  .container {
      width: 700px;
      margin: 0 auto;
      display: flex;
      align-items: center; 
  }
  
  .floating-block img {
      width: 200px;
      height: auto;
      display: block;
      margin-bottom: 20px;
      margin-top: 15px;
  }
  
  .text-block {
      padding-left: 20px;
  }

  <style>
    #info, .desc, #text-node {
        text-align: center;
        margin: 5px 0; /* Зменшуємо відстань між елементами */
        line-height: 1.2; /* Зменшуємо висоту рядків */
    }
</style>

#questionlist li.active {
  font-weight: bold;
  text-decoration: underline;
  color: #4a4a8a;
}

